In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame ({
    'age':[25, np.nan, 40, 45, np.nan],
    'salary':[50000, 60000, np.nan, 65000, 70000],
    'city':['New York','Los Angeles','New York','San Francisco', np.nan ],
    'target':[1,0,1,0,1]
})

In [3]:
print("\nOriginal data")
print(data)
print("\nMissing values")
print(data.isnull().sum())
print("\nPercentage of missing values")
print(data.isnull().mean()*100)

Original data
    age   salary           city  target
0  25.0  50000.0       New York       1
1   NaN  60000.0    Los Angeles       0
2  40.0      NaN       New York       1
3  45.0  65000.0  San Francisco       0
4   NaN  70000.0            NaN       1

Missing values
age       2
salary    1
city      1
target    0
dtype: int64

Percentage of missing values
age       40.0
salary    20.0
city      20.0
target     0.0
dtype: float64

In [4]:
#handling missing values`
data2 = data.dropna()
print("after removing rows:")
print(data2)

after removing rows:
    age   salary           city  target
0  25.0  50000.0       New York       1
3  45.0  65000.0  San Francisco       0

In [5]:
#data2 = data.dropna(axis=1)
#print('after removing columns:')
#print(data2)

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
#numerical features
num_features = ['age', 'salary' ] 
imputer_num = SimpleImputer(strategy='mean')
data[num_features] = imputer_num.fit_transform(data[num_features])

In [8]:
#categorical features 
cat_features = [ 'city' ]
imputer_cat = SimpleImputer(strategy='most_frequent')
data[cat_features] = imputer_cat.fit_transform(data[cat_features])

In [9]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [10]:
#encoding categorical features 
label_encoders = {}
for col in cat_features:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    label_encoders[col] = le

In [11]:
scaler = StandardScaler()
num_features = ['age', 'salary']
data[num_features] = scaler.fit_transform(data[num_features])
data.to_csv('cleaned_dataset.csv', index=False)

In [12]:
data1 = pd.read_csv('cleaned_dataset.csv')
print('df to csv')
print(data1)

df to csv
        age    salary  city  target
0 -1.772294 -1.700840     1       1
1  0.000000 -0.188982     0       0
2  0.506370  0.000000     1       1
3  1.265924  0.566947     2       0
4  0.000000  1.322876     1       1